.card
{
   border: 2px solid rgba(255, 255, 255, 0.55);
   padding: 2rem;
   display: flex; 
  
   justify-content: center;
   align-items: center;
   width: 120px;
   height: 120px;

   flex-basis: 18%;
   border-radius: 10%;
   background-color: rgba(29, 57, 70, 0.559);
  box-shadow: 1px 1px 2px rgb(38, 26, 26), 0 0 20px rgba(67, 93, 223, 0.838), 0 0 5px rgb(229, 229, 241);
}

.turn{
    margin-top: 0;
    font-size: 3rem;
    color: rgb(145, 152, 156);
}

*{
    font-family: 'Libre Baskerville', serif;
font-family: 'Rubik', sans-serif;
}